          <!-- INICIO DO CONTEUDO -->
          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Nome</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <p>{{bankInformation?.name}}</p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> CPF</span>
                <div class="user-block">
                </div>
              </div>

              <div class="box-body">
                <p>{{bankInformation?.cpf}}</p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Banco</span>
                <div class="user-block">
                </div>
              </div>

              <div class="box-body">
                <p>{{bankInformation?.bank}}</p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Agencia</span>
                <div class="user-block">
                </div>
              </div>

              <div class="box-body">
                <p>{{bankInformation?.agency}}</p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Tipo de conta</span>
                <div class="user-block">
                </div>
              </div>

              <div class="box-body">
                <p>{{bankInformation?.accountType?.description}}</p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Número da conta</span>
                <div class="user-block">
                </div>
              </div>

              <div class="box-body">
                <p>{{bankInformation?.accountNumber}}</p>
              </div>
            </div>

          </div>
          <!--FIM DO CONTEUDO -->