      <section class="content-header">
        <h1>

        </h1>
      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                   <h3 class="box-title"><a [routerLink]="['/programmers']"><i class="fa fa-home"></i> Voltar</a></h3><span (click)="DeleteProgrammer()" class="pull-right"><a><i class="fa fa-trash"></i> Excluir</a></span> <span class="pull-right"></span> <span *ngIf="programmer" class="pull-right"><a [routerLink]="['/edit', programmer.id]"><i class="fa fa-pencil"></i> Editar </a></span>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="col-sm-3 col-xs-12">
                    <img class="box-img-detail" src="assets/img/user1.jpg" />
                  </div>

                  <dl class="col-sm-9 col-xs-12">
                    <dt>Nome</dt>
                    <dd>{{programmer?.occupationArea.name}}</dd>
                    <dt>Email</dt>
                    <dd>{{programmer?.email}}</dd>
                    <dt>Telefone</dt>
                    <dd>{{programmer?.occupationArea.phone}}</dd>
                  </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer detail-footer">
                  <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['occupation-area']">
                    Área de atuação
                  </a>
                  <a class="pull-right" routerLinkActive="detail-active" [routerLink]="['bank-information']">
                      Informação bancária
                  </a>
                  
                </div>
                <div class="box-footer detail-footer">
                  <a class="center-block" routerLinkActive="detail-active" [routerLink]="['knowledge']">
                      Conhecimentos
                  </a>
                </div>
              </div>
            </div>
            <!-- /.col-xs-12 -->

        </div>

      <div class="row">
            <router-outlet></router-outlet>
      </div>
    </section>
