<div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Ionic</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ionic" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIonic === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ionic" class="flat-red"[checked]="knowledge?.levelOfKnowledgeIonic === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="ionic" class="flat-red"[checked]="knowledge?.levelOfKnowledgeIonic === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ionic" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIonic === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ionic" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIonic === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ionic" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIonic === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
</div>
<div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Android</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="android" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAndroid === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="android" class="flat-red"[checked]="knowledge?.levelOfKnowledgeAndroid === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="android" class="flat-red"[checked]="knowledge?.levelOfKnowledgeAndroid === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="android" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAndroid === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="android" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAndroid === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="android" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAndroid === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
</div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> IOS</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ios" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIOS === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ios" class="flat-red"[checked]="knowledge?.levelOfKnowledgeIOS === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="ios" class="flat-red"[checked]="knowledge?.levelOfKnowledgeIOS === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ios" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIOS === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ios" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIOS === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ios" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIOS === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
<div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> HTML</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="html" class="flat-red" [checked]="knowledge?.levelOfKnowledgeHTML === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="html" class="flat-red"[checked]="knowledge?.levelOfKnowledgeHTML === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="html" class="flat-red"[checked]="knowledge?.levelOfKnowledgeHTML === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="html" class="flat-red" [checked]="knowledge?.levelOfKnowledgeHTML === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="html" class="flat-red" [checked]="knowledge?.levelOfKnowledgeHTML === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="html" class="flat-red" [checked]="knowledge?.levelOfKnowledgeHTML === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
</div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> CSS</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="css" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCSS === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="css" class="flat-red"[checked]="knowledge?.levelOfKnowledgeCSS === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="css" class="flat-red"[checked]="knowledge?.levelOfKnowledgeCSS === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="css" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCSS === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="css" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCSS === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="css" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCSS === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Bootstrap</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="bootstrap" class="flat-red" [checked]="knowledge?.levelOfKnowledgeBootstrap === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="bootstrap" class="flat-red"[checked]="knowledge?.levelOfKnowledgeBootstrap === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="bootstrap" class="flat-red"[checked]="knowledge?.levelOfKnowledgeBootstrap === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="bootstrap" class="flat-red" [checked]="knowledge?.levelOfKnowledgeBootstrap === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="bootstrap" class="flat-red" [checked]="knowledge?.levelOfKnowledgeBootstrap === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="bootstrap" class="flat-red" [checked]="knowledge?.levelOfKnowledgeBootstrap === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> JQuery</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="jquery" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIonic === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="jquery" class="flat-red"[checked]="knowledge?.levelOfKnowledgeJquery === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="jquery" class="flat-red"[checked]="knowledge?.levelOfKnowledgeJquery === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="jquery" class="flat-red" [checked]="knowledge?.levelOfKnowledgeJquery === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="jquery" class="flat-red" [checked]="knowledge?.levelOfKnowledgeJquery === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="jquery" class="flat-red" [checked]="knowledge?.levelOfKnowledgeJquery === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> AngularJs</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="angularjs" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAngularJs === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="angularjs" class="flat-red"[checked]="knowledge?.levelOfKnowledgeAngularJs === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="angularjs" class="flat-red"[checked]="knowledge?.levelOfKnowledgeAngularJs === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="angularjs" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAngularJs === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="angularjs" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAngularJs === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="angularjs" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAngularJs === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Java</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="java" class="flat-red" [checked]="knowledge?.levelOfKnowledgeJava === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="java" class="flat-red"[checked]="knowledge?.levelOfKnowledgeJava === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="java" class="flat-red"[checked]="knowledge?.levelOfKnowledgeJava === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="java" class="flat-red" [checked]="knowledge?.levelOfKnowledgeJava === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="java" class="flat-red" [checked]="knowledge?.levelOfKnowledgeJava === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="java" class="flat-red" [checked]="knowledge?.levelOfKnowledgeJava === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> AspNetMVC</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="aspnetmvc" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAspNetMVC === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="aspnetmvc" class="flat-red"[checked]="knowledge?.levelOfKnowledgeAspNetMVC === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="aspnetmvc" class="flat-red"[checked]="knowledge?.levelOfKnowledgeAspNetMVC === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="aspnetmvc" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAspNetMVC === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="aspnetmvc" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAspNetMVC === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="aspnetmvc" class="flat-red" [checked]="knowledge?.levelOfKnowledgeAspNetMVC === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> C</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="c" class="flat-red" [checked]="knowledge?.levelOfKnowledgeC === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="c" class="flat-red"[checked]="knowledge?.levelOfKnowledgeC === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="c" class="flat-red"[checked]="knowledge?.levelOfKnowledgeC === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="c" class="flat-red" [checked]="knowledge?.levelOfKnowledgeC === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="c" class="flat-red" [checked]="knowledge?.levelOfKnowledgeC === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="c" class="flat-red" [checked]="knowledge?.levelOfKnowledgeC === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> C++</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cplusplus" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCPlusPlus === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cplusplus" class="flat-red"[checked]="knowledge?.levelOfKnowledgeCPlusPlus === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="cplusplus" class="flat-red"[checked]="knowledge?.levelOfKnowledgeCPlusPlus === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cplusplus" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCPlusPlus === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cplusplus" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCPlusPlus === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cplusplus" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCPlusPlus === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Cake</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cake" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCake === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cake" class="flat-red"[checked]="knowledge?.levelOfKnowledgeCake === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="cake" class="flat-red"[checked]="knowledge?.levelOfKnowledgeCake === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cake" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCake === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cake" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCake === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="cake" class="flat-red" [checked]="knowledge?.levelOfKnowledgeCake === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Django</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="django" class="flat-red" [checked]="knowledge?.levelOfKnowledgeDjango === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="django" class="flat-red"[checked]="knowledge?.levelOfKnowledgeDjango === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="django" class="flat-red"[checked]="knowledge?.levelOfKnowledgeDjango === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="django" class="flat-red" [checked]="knowledge?.levelOfKnowledgeDjango === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="django" class="flat-red" [checked]="knowledge?.levelOfKnowledgeDjango === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="django" class="flat-red" [checked]="knowledge?.levelOfKnowledgeDjango === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Majento</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="majento" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMajento === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="majento" class="flat-red"[checked]="knowledge?.levelOfKnowledgeMajento === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="majento" class="flat-red"[checked]="knowledge?.levelOfKnowledgeMajento === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="majento" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMajento === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="majento" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMajento === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="majento" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMajento === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> PHP</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="php" class="flat-red" [checked]="knowledge?.levelOfKnowledgePHP === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="php" class="flat-red"[checked]="knowledge?.levelOfKnowledgePHP === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="php" class="flat-red"[checked]="knowledge?.levelOfKnowledgePHP === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="php" class="flat-red" [checked]="knowledge?.levelOfKnowledgePHP === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="php" class="flat-red" [checked]="knowledge?.levelOfKnowledgePHP === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="php" class="flat-red" [checked]="knowledge?.levelOfKnowledgePHP === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> WordPress</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="wordpress" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIonic === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="wordpress" class="flat-red"[checked]="knowledge?.levelOfKnowledgeWordpress === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="wordpress" class="flat-red"[checked]="knowledge?.levelOfKnowledgeWordpress === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="wordpress" class="flat-red" [checked]="knowledge?.levelOfKnowledgeWordpress === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="wordpress" class="flat-red" [checked]="knowledge?.levelOfKnowledgeWordpress === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="wordpress" class="flat-red" [checked]="knowledge?.levelOfKnowledgeWordpress === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Phyton</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="phyton" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhyton === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="phyton" class="flat-red"[checked]="knowledge?.levelOfKnowledgePhyton === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="phyton" class="flat-red"[checked]="knowledge?.levelOfKnowledgePhyton === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="phyton" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhyton === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="phyton" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhyton === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="phyton" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhyton === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Ruby</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ruby" class="flat-red" [checked]="knowledge?.levelOfKnowledgeRuby === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ruby" class="flat-red"[checked]="knowledge?.levelOfKnowledgeRuby === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="ruby" class="flat-red"[checked]="knowledge?.levelOfKnowledgeRuby === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ruby" class="flat-red" [checked]="knowledge?.levelOfKnowledgeRuby === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ruby" class="flat-red" [checked]="knowledge?.levelOfKnowledgeRuby === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="ruby" class="flat-red" [checked]="knowledge?.levelOfKnowledgeRuby === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> MySQLServer</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysqlserver" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIonic === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysqlserver" class="flat-red"[checked]="knowledge?.levelOfKnowledgeMySQLServer === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="mysqlserver" class="flat-red"[checked]="knowledge?.levelOfKnowledgeMySQLServer === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysqlserver" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMySQLServer === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysqlserver" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMySQLServer === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysqlserver" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMySQLServer === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> MySql</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysql" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMySQL === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysql" class="flat-red"[checked]="knowledge?.levelOfKnowledgeMySQL === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="mysql" class="flat-red"[checked]="knowledge?.levelOfKnowledgeMySQL === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysql" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMySQL === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysql" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMySQL === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="mysql" class="flat-red" [checked]="knowledge?.levelOfKnowledgeMySQL === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Salesforce</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="salesforce" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSalesforce === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="salesforce" class="flat-red"[checked]="knowledge?.levelOfKnowledgeSalesforce === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="salesforce" class="flat-red"[checked]="knowledge?.levelOfKnowledgeSalesforce === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="salesforce" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSalesforce === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="salesforce" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSalesforce === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="salesforce" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSalesforce === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Photoshop</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="photoshop" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhotoshop === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="photoshop" class="flat-red"[checked]="knowledge?.levelOfKnowledgePhotoshop === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="photoshop" class="flat-red"[checked]="knowledge?.levelOfKnowledgePhotoshop === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="photoshop" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhotoshop === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="photoshop" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhotoshop === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="photoshop" class="flat-red" [checked]="knowledge?.levelOfKnowledgePhotoshop === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Illustrator</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="illustrator" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIllustrator === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="illustrator" class="flat-red"[checked]="knowledge?.levelOfKnowledgeIllustrator === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="illustrator" class="flat-red"[checked]="knowledge?.levelOfKnowledgeIllustrator === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="illustrator" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIllustrator === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="illustrator" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIllustrator === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="illustrator" class="flat-red" [checked]="knowledge?.levelOfKnowledgeIllustrator === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> SEO</span>
                <div class="user-block">
                </div>
              </div>
              <div class="box-body">
                <span class="direct-chat-timestamp pull-left">Não conheço</span>
                <span class="direct-chat-timestamp pull-right">Senior</span>
                <br /><br />
                <div class="form-group">
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="seo" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSEO === 0" disabled>0
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="seo" class="flat-red"[checked]="knowledge?.levelOfKnowledgeSEO === 1" disabled>1
                    </label>
                  </div>
                  <div class="col-md-2  text-center">
                    <label>
                      <input type="radio" name="seo" class="flat-red"[checked]="knowledge?.levelOfKnowledgeSEO === 2" disabled>2
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="seo" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSEO === 3" disabled>3
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="seo" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSEO === 4" disabled>4
                    </label>
                  </div>
                  <div class="col-md-2 text-center">
                    <label>
                      <input type="radio" name="seo" class="flat-red" [checked]="knowledge?.levelOfKnowledgeSEO === 5" disabled>5
                    </label>
                  </div>
              </div>
              </div>
            </div>
</div>
          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Outras linguagens e/ou frameworks</span>
                <div class="user-block">
                </div>
              </div>

              <div class="box-body">
                <p>{{knowledge?.otherLanguageOrFramework}}</p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6">

            <div class="box box-danger">
              <div class="box-header with-border">
                <span class="review-score pull-left"> Link CRUD</span>
                <div class="user-block">
                </div>
              </div>

              <div class="box-body">
                <p>{{knowledge?.linkCRUD}}</p>
              </div>
            </div>

          </div>